.card--footer {
  background-color: #161619;
  height: 2.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 8px 8px;
}

.footer--icon {
  margin: auto .4em;
  cursor: pointer;
}